<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    class="header">
  <tbody>
    <tr>
      <td class="logo">
        <a routerLink="/">
          <img src="assets/img/logo.png">
        </a>
      </td>
      <td class="nav">
        <span class="pagetop">
          <b class="outfit">
            <a routerLink="/">{{header.outfit}} </a>
          </b>
          <a routerLink="/top">top</a> |
          <a routerLink="/best">best</a>
        </span>
      </td>
    </tr>
  </tbody>
</table>
