.main {
  background-color: #f6f6ef;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-bottom: 2px solid #ff6600;
  font-family: Verdana, Geneva, sans-serif;
}

footer {
  background-color: #f6f6ef;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
}
