<div *ngIf="story && story.by">
  <div class="comment">
    <div class="upboat">
      <span>
        -
      </span>
    </div>
    <div class="stats" [class.meta-collapse]="hide">
      <span>
        {{story.by}}
        {{story.timeAgo}}
      </span>
      <span class="hide" (click)="hide = !hide">
        [{{hide ? 'show' : 'hide'}}]
      </span>
    </div>
  </div>
  <div class="comments">
    <div [hidden]="hide">
      <p class="text" [innerHTML]="story.text"></p>
      <ul class="subtree">
        <li *ngFor="let kid of story.kids">
          <app-comment [commentId]="kid"></app-comment>
        </li>
      </ul>
    </div>
  </div>
</div>
